
.grid-container2{
    display: grid;
    grid-template-columns: 1250px auto ;
    grid-template-rows: 400px 100px;
    grid-gap: 40px;
    padding: 25px;
}




.text {
    color: black;
    text-decoration: none;
    font-family: fantasy;
    font-style: italic;
    font-weight: normal;
    font-variant: small-caps;
    font-stretch: semi-expanded;
    font-size: 40px;
}

::placeholder{
    font-family: cursive;
    font-size: 15px;
}




.sendB {
    background-color: rgb(102, 211, 250);
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;
    padding: 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 50%;
}

.sendB:hover {
    opacity: 1;
}


@font-face{
    font-family: alphab;
    src: url("../Alphabetized\ Cassette\ Tapes\ Classic.ttf");
}