html, body{
    margin: 0%;
 }
 
 .grid-container1{
   display: grid;
   grid-template-columns: 450px 700px auto;
   grid-template-rows: 120px ;
   padding: 10px;
 }
 
 .header{
   height: 120px;
   grid-row: 1 / span 1;
 
 }
 
 .logoImg{
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;
 }
 
 #logoImg{
   background-color:rgb(228, 236, 241);
   border-radius: 100%;
   width: 100px; 
   padding: 1px; 
 }
 
 .titleName{
   grid-column: 2 / span 1;
   grid-row: 1 / span 1;
   text-align: left;
   padding-left: 20px;
 
 }
 
 #titleName{
   color: rgb(60, 153, 220);
   text-decoration: none;
   font-family: fantasy;
   font-style: italic;
   font-weight: normal;
   font-variant: small-caps;
   font-stretch: semi-expanded;
   font-size: 80px;
 }
 .socialNetworks{
   grid-column: 3 / span 1;
   grid-row: 1 / span 1;
   justify-items: right;
 }
 
 .fa {
   width: 20px;
   text-align: center;
   text-decoration: none;
   color: rgb(60, 153, 220);
   padding: 5px;
 
 }
 
 
 .icon i:hover{
 color:rgb(60, 153, 220);
 }
 
 .nav{
   display: grid;
   grid-template-columns: 1500px auto ;
   grid-template-rows: 80px;
   height: 80px;
 }
 
 .navbar{
   grid-column: 1 / span 1;
   background-color: rgb(102, 211, 250);
   word-spacing: 60px;  
   text-align: center;
   padding-left: 80px;
 }
 
 .text{
   color:black;
   text-decoration: none;
   font-family: fantasy;
   font-style: italic;
   font-weight: normal;
   font-variant: small-caps;
   font-stretch: semi-expanded;
   font-size: 40px;
 }
 .textE{
   color:black;
   text-decoration: none;
   font-family: fantasy;
   font-style: italic;
   font-weight: normal;
   font-variant: small-caps;
   font-stretch: semi-expanded;
   font-size: 20px;
   justify-items: center;
 }
 
 #active{
   color: rgb(0, 0, 0);
 }
 
 .connect{
   grid-column: 2 / span 1;
   background-color: rgb(102, 211, 250);
   text-align: right;
   padding-right: 30px;
   padding: 30px;
 }
 
 #connectImg{
   width: 60px;
   height: auto;
 }
 
 #shopImg{
   width: 42px;
   height: auto;
 }
 
 .footer{
   background-color: rgb(102, 211, 250);
   display: grid;
   grid-template-columns:  auto;
   grid-template-rows: 80px;
   height: 80px;
   justify-items: center;
 }
 
 .intro{
    font-family: fantasy;
    font-weight: normal;
    font-variant: small-caps;
    font-size: x-large;
    
    
    
 }
 
 
 @keyframes pulse{
   0%,100%{
       background-color:  rgb(213, 243, 254);
   }
   50%{
       background-color:  rgb(213, 243, 254);
   }
 
 }

 body {background-color: rgb(213, 243, 254);}


 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  
  