
.grid-container2{
  display: grid;
  grid-template-columns: 310px 700px auto;
  grid-template-rows: 100px 100px auto;
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
}


.intro{
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  color: black;
  text-decoration: none;
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}

.img{
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  width: 400px;
  height: 350px;
  border-radius: 60px;   
}

#pics {
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
  width: 400px;
  height: 350px;
  background-image: url("shoppingcart-1066110386.jpg");

  background-size: 100%;
  animation: anim1 ease-in-out 20s infinite;
}

